<html>
	<head> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
	* {
		font-family: sans-serif;
	}

	.heading{
		padding: 0.1px;
		margin: 15px 0;
		background-color: #009879;
		color: #ffffff;
		font-size: 20px;
		font-weight: bold;
		text-align: center;
		border-radius: 5px 5px 5px 5px;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	}

	.content-table {
		border-collapse: collapse;
		margin-left: auto;
  		margin-right: auto;
		font-size: 0.9em;
		min-width: 400px;
		border-radius: 5px 5px 0 0;
		overflow: hidden;
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	}
	
	.content-table thead tr {
		background-color: #009879;
		color: #ffffff;
		text-align: left;
		font-weight: bold;
	}
	
	.content-table th,
	.content-table td {
		padding: 11px 15px;
	}
	
	.content-table tbody tr {
		border-bottom: 1px solid #dddddd;
	}
	
	.content-table tbody tr:nth-of-type(even) {
		background-color: #f3f3f3;
	}
	
	.content-table tbody tr:last-of-type {
		border-bottom: 2px solid #009879;
	}
	
	.content-table tbody tr.active-row {
		font-weight: bold;
		color: #009879;
	}

	.button{
		background-color: #009879;
		border: none;
		color: white;
		padding: 7px 13px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 4px;
		cursor: pointer;
		border-radius: 2px;
	}

	.wrapper{
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		padding: 20px 0;
		max-width: 400px;
		margin: 0 auto;
	}
	.menu, .content {
		width: 100%;
	}
	select{
		width: 100%;
		padding: 15px;
		font-size: 16px;
		font-weight: 700;
		font-family: "Poppins", sans-serif;
		border: none;
		border-radius: 8px;
		border: 2px solid #009879;
		box-shadow: 0 15px 15px #d1d1d1;
		appearance: none;
		background: #e8eaf6 url(arrow.png) no-repeat;
		background-position: 95% 55%;
		background-size: 21px 14px;
	}
	
	.content{
		margin: 30px 0;
	}
	.content .data{
		padding: 25px;
		background-color: #fff;
		border: 2px solid #009879;
		border-radius: 8px;
	}
	.content p{
		margin-bottom: 15px;
		padding-bottom: 15px;
		border-bottom: 1px oslid gainsboro;
	}
	.content p:last-child{
		border-bottom: none;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	</style>
	<body>
		<button class="button" onclick="history.back()">&LessLess;</button>
		<div class="wrapper">
			<div class="menu">
				<select id="station">
					<option value="Admiralty">Admiralty</option>>
					<option value="Aljunied">Aljunied</option>>
					<option value="AngMoKio">Ang Mo Kio</option>>
					<option value="Bangkit">Bangkit</option>>
					<option value="Bartley">Bartley</option>>
					<option value="Bayfront">Bayfront</option>>
					<option value="Bedok">Bedok</option>>
					<option value="Bishan">Bishan</option>>
					<option value="BoonLay">Boon Lay</option>>
					<option value="BotanicGardens">Botanic Gardens</option>>
					<option value="Braddell">Braddell</option>>
					<option value="BrasBasah">Bras Basah</option>>
					<option value="BrightHill">Bright Hill</option>>
					<option value=""></option>>
					<option value=""></option>>
					<option value=""></option>>
					<option value=""></option>>
					<option value=""></option>>
					<option value=""></option>>
					<option value=""></option>>
					<option value=""></option>>
					<option value=""></option>>
					
				</select>
			</div>
		</div>
		
		<div class="content-table">
		    <div id="Admiralty" class="data">
			<div class = "heading"><h1>Aljunied</h1></div>
			<div class = "heading">
					<p>First/Last Train service terminating at NS1 EW24 Jurong East</p>
			</div>
		     <table class="content-table">
			<thead>
			  	<tr>
				<th>Day</th>
				<th>First Train</th>
				<th>Last Train</th>
			  	</tr>
			</thead>
			<tbody>
				<tr>
				<td>Monday - Thursday</td>
				<td>05:35</td>
				<td>00:37</td>
				</tr>
				<tr class="active-row">
				<td>Friday</td>
				<td>05:35</td>
				<td>00:37</td>
				</tr>
				<tr>
				<td>Saturday</td>
				<td>05:35</td>
				<td>00:37</td>
				</tr>
				<tr class="active-row">
				<td>Sunday</td>
				<td>05:58</td>
				<td>00:37</td>
				</tr>
				<tr>
				<td>Public Holidays</td>
				<td>05:58</td>
				<td>00:37</td>
				</tr>
			</tbody>
		     </table>
		  <div class = "heading">
			<p>First/Last Train service terminating at NS7 Kranji</p>
		  </div>
		  <table class="content-table">
			<thead>
				<tr>
				<th>Day</th>
				<th>First Train</th>
				<th>Last Train</th>
				</tr>
			</thead>
			<tbody>
				<tr>
				<td>Monday - Thursday</td>
				<td>-</td>
				<td>00:53</td>
				</tr>
				<tr class="active-row">
				<td>Friday</td>
				<td>-</td>
				<td>00:53</td>
				</tr>
				<tr>
				<td>Saturday</td>
				<td>-</td>
				<td>00:53</td>
				</tr>
				<tr class="active-row">
				<td>Sunday</td>
				<td>-</td>
				<td>00:53</td>
				</tr>
				<tr>
				<td>Public Holidays</td>
				<td>-</td>
				<td>00:53</td>
				</tr>
			</tbody>
			</table>
			<div class = "heading">
				<p>Last Train service terminating at NS19 Toa Payoh</p>
			</div>
			<table class="content-table">
				<thead>
					<tr>
					<th>Day</th>
					<th>First Train</th>
					<th>Last Train</th>
					</tr>
				</thead>
				<tbody>
					<tr>
					<td>Monday - Thursday</td>
					<td>-</td>
					<td>23:53</td>
					</tr>
					<tr class="active-row">
					<td>Friday</td>
					<td>-</td>
					<td>23:53</td>
					</tr>
					<tr>
					<td>Saturday</td>
					<td>-</td>
					<td>23:53</td>
					</tr>
					<tr class="active-row">
					<td>Sunday</td>
					<td>-</td>
					<td>23:53</td>
					</tr>
					<tr>
					<td>Public Holidays</td>
					<td>-</td>
					<td>23:53</td>
				</tr>
			</tbody>
		    </table>				
		  <div class = "heading">
			<p>Last Train service terminating at NS16 Ang Mo Kio</p>
		  </div>
		  <table class="content-table">
			<thead>
				<tr>
				<th>Day</th>
				<th>First Train</th>
				<th>Last Train</th>
				</tr>
			</thead>
			<tbody>
				<tr>
				<td>Monday - Thursday</td>
				<td>-</td>
				<td>00:42</td>
				</tr>
				<tr class="active-row">
				<td>Friday</td>
				<td>-</td>
				<td>00:42</td>
				</tr>
				<tr>
				<td>Saturday</td>
				<td>-</td>
				<td>00:42</td>
				</tr>
				<tr class="active-row">
				<td>Sunday</td>
				<td>-</td>
				<td>00:42</td>
				</tr>
				<tr>
				<td>Public Holidays</td>
				<td>-</td>
				<td>00:42</td>
				</tr>
			</tbody>
		  </table>
		   <div class = "heading">
			<p>First/Last Train service terminating at NS28 Marina South Pier</p>
		   </div>
		   <table class="content-table">
			<thead>
				<tr>
				<th>Day</th>
				<th>First Train</th>
				<th>Last Train</th>
				</tr>
			</thead>
			<tbody>
				<tr>
				<td>Monday - Thursday</td>
				<td>05:29</td>
				<td>23:11</td>
				</tr>
				<tr class="active-row">
				<td>Friday</td>
				<td>05:29</td>
				<td>23:11</td>
				</tr>
				<tr>
				<td>Saturday</td>
				<td>05:29</td>
				<td>23:11</td>
				</tr>
				<tr class="active-row">
				<td>Sunday</td>
				<td>05:45</td>
				<td>23:11</td>
				</tr>
				<tr>
				<td>Public Holidays</td>
				<td>05:45</td>
				<td>23:11</td>
				</tr>
			</tbody>
		    </table>
		    </div>
			<div id="Aljunied" class="data">
				<div class = "heading"><h1>Aljunied</h1></div>
				<div class = "heading">
					<p>First/Last Train service terminating at EW33 Tuas Link</p>
				</div>
				<table class="content-table">
					<thead>
						  <tr>
						<th>Day</th>
						<th>First Train</th>
						<th>Last Train</th>
						  </tr>
					</thead>
					<tbody>
						<tr>
						<td>Monday - Thursday</td>
						<td>05:49</td>
						<td>23:46</td>
						</tr>
						<tr class="active-row">
						<td>Friday</td>
						<td>05:49</td>
						<td>23:46</td>
						</tr>
						<tr>
						<td>Saturday</td>
						<td>05:49</td>
						<td>23:46</td>
						</tr>
						<tr class="active-row">
						<td>Sunday</td>
						<td>06:15</td>
						<td>23:46</td>
						</tr>
						<tr>
						<td>Public Holidays</td>
						<td>06:15</td>
						<td>23:46</td>
						</tr>
					</tbody>
				</table>
		
				<div class = "heading">
					<p>First/Last Train service terminating at EW1 Pasir Ris</p>
				</div>
				<table class="content-table">
					<thead>
						<tr>
						<th>Day</th>
						<th>First Train</th>
						<th>Last Train</th>
						</tr>
					</thead>
					<tbody>
						<tr>
						<td>Monday - Thursday</td>
						<td>06:10</td>
						<td>00:20</td>
						</tr>
						<tr class="active-row">
						<td>Friday</td>
						<td>06:10</td>
						<td>00:20</td>
						</tr>
						<tr>
						<td>Saturday</td>
						<td>06:10</td>
						<td>00:20</td>
						</tr>
						<tr class="active-row">
						<td>Sunday</td>
						<td>06:38</td>
						<td>00:20</td>
						</tr>
						<tr>
						<td>Public Holidays</td>
						<td>06:38</td>
						<td>00:20</td>
						</tr>
					</tbody>
				</table>
		
				<div class = "heading">
					<p>Towards CG2 Changi Airport</p>
				</div>
				<table class="content-table">
					<thead>
						<tr>
						<th>Day</th>
						<th>First Train</th>
						<th>Last Train</th>
						</tr>
					</thead>
					<tbody>
						<tr>
						<td>Monday - Thursday</td>
						<td>06:10</td>
						<td>23:36</td>
						</tr>
						<tr class="active-row">
						<td>Friday</td>
						<td>06:10</td>
						<td>23:36</td>
						</tr>
						<tr>
						<td>Saturday</td>
						<td>06:10</td>
						<td>23:36</td>
						</tr>
						<tr class="active-row">
						<td>Sunday</td>
						<td>06:38</td>
						<td>23:36</td>
						</tr>
						<tr>
						<td>Public Holidays</td>
						<td>06:38</td>
						<td>23:36</td>
						</tr>
					</tbody>
				</table>
			</div>	
			<div id="AngMoKio" class="data">
				<div class = "heading"><h1>Ang Mo Kio</h1></div>
				<div class = "heading">
					<p>First/Last Train service terminating at NS1 EW24 Jurong East</p>
				</div>
				<table class="content-table">
					<thead>
						  <tr>
						<th>Day</th>
						<th>First Train</th>
						<th>Last Train</th>
						  </tr>
					</thead>
					<tbody>
						<tr>
						<td>Monday - Thursday</td>
						<td>05:17</td>
						<td>00:18</td>
						</tr>
						<tr class="active-row">
						<td>Friday</td>
						<td>05:17</td>
						<td>00:18</td>
						</tr>
						<tr>
						<td>Saturday</td>
						<td>05:17</td>
						<td>00:18</td>
						</tr>
						<tr class="active-row">
						<td>Sunday</td>
						<td>05:40</td>
						<td>00:18</td>
						</tr>
						<tr>
						<td>Public Holidays</td>
						<td>05:40</td>
						<td>00:18</td>
						</tr>
						</tbody>
					</table>
					
				  <div class = "heading">
					<p>First Train service terminating at NS13 Yishun</p>
				  </div>
				  <table class="content-table">
					<thead>
						<tr>
						<th>Day</th>
						<th>First Train</th>
						<th>Last Train</th>
						</tr>
					</thead>
					<tbody>
						<tr>
						<td>Monday - Thursday</td>
						<td>05:07</td>
						<td>-</td>
						</tr>
						<tr class="active-row">
						<td>Friday</td>
						<td>05:07</td>
						<td>-</td>
						</tr>
						<tr>
						<td>Saturday</td>
						<td>05:07</td>
						<td>-</td>
						</tr>
						<tr class="active-row">
						<td>Sunday</td>
						<td>-</td>
						<td>-</td>
						</tr>
						<tr>
						<td>Public Holidays</td>
						<td>-</td>
						<td>-</td>
						</tr>
						</tbody>
					
					</table>
		
					<div class = "heading">
						<p>Last Train service terminating at NS7 Kranji</p>
					</div>
					<table class="content-table">
						<thead>
							<tr>
							<th>Day</th>
							<th>First Train</th>
							<th>Last Train</th>
							</tr>
						</thead>
						<tbody>
							<tr>
							<td>Monday - Thursday</td>
							<td>-</td>
							<td>00:33</td>
							</tr>
							<tr class="active-row">
							<td>Friday</td>
							<td>-</td>
							<td>00:33</td>
							</tr>
							<tr>
							<td>Saturday</td>
							<td>-</td>
							<td>00:33</td>
							</tr>
							<tr class="active-row">
							<td>Sunday</td>
							<td>-</td>
							<td>00:33</td>
							</tr>
							<tr>
							<td>Public Holidays</td>
							<td>-</td>
							<td>00:33</td>
							</tr>
							</tbody>
		
				</table>
				
				<div class = "heading">
					<p>LLast Train service terminating at NS19 Toa Payoh</p>
				</div>
				<table class="content-table">
					<thead>
						<tr>
						<th>Day</th>
						<th>First Train</th>
						<th>Last Train</th>
						</tr>
					</thead>
					<tbody>
						<tr>
						<td>Monday - Thursday</td>
						<td>-</td>
						<td>00:13</td>
						</tr>
						<tr class="active-row">
						<td>Friday</td>
						<td>-</td>
						<td>00:13</td>
						</tr>
						<tr>
						<td>Saturday</td>
						<td>-</td>
						<td>00:13</td>
						</tr>
						<tr class="active-row">
						<td>Sunday</td>
						<td>-</td>
						<td>00:13</td>
						</tr>
						<tr>
						<td>Public Holidays</td>
						<td>-</td>
						<td>00:13</td>
						</tr>
						</tbody>
					</table>
		
				<div class = "heading">
					<p>First/Last Train service terminating at NS28 Marina South Pier</p>
				</div>
				<table class="content-table">
					<thead>
						<tr>
						<th>Day</th>
						<th>First Train</th>
						<th>Last Train</th>
						</tr>
					</thead>
					<tbody>
						<tr>
						<td>Monday - Thursday</td>
						<td>05:34</td>
						<td>23:31</td>
						</tr>
						<tr class="active-row">
						<td>Friday</td>
						<td>05:34</td>
						<td>23:31</td>
						</tr>
						<tr>
						<td>Saturday</td>
						<td>05:34</td>
						<td>23:31</td>
						</tr>
						<tr class="active-row">
						<td>Sunday</td>
						<td>06:05</td>
						<td>23:31</td>
						</tr>
						<tr>
						<td>Public Holidays</td>
						<td>06:05</td>
						<td>23:31</td>
						</tr>
						</tbody>
					
				</table>
			</div>
			<div id="Bangkit" class="data">
				<div class = "heading"><h1>Bangkit</h1></div>
				<div class = "heading">
					<p>Last Train service terminating at BP6 P1 (Platform 1)</p>
				</div>
				<table class="content-table">
					<thead>
						  <tr>
						<th>Day</th>
						<th>First Train</th>
						<th>Last Train</th>
						  </tr>
					</thead>
					<tbody>
						<tr>
						<td>Monday - Thursday</td>
						<td>05:09</td>
						<td>23:41</td>
						</tr>
						<tr class="active-row">
						<td>Friday</td>
						<td>05:09</td>
						<td>23:41</td>
						</tr>
						<tr>
						<td>Saturday</td>
						<td>05:09</td>
						<td>23:41</td>
						</tr>
						<tr class="active-row">
						<td>Sunday</td>
						<td>05:27</td>
						<td>23:41</td>
						</tr>
						<tr>
						<td>Public Holidays</td>
						<td>05:27</td>
						<td>23:41</td>
						</tr>
						</tbody>
		
					</table>
					
				  <div class = "heading">
					<p>
						Last Train service terminating at BP6 P1 (Platform 2)</p>
				  </div>
				  <table class="content-table">
					<thead>
						<tr>
						<th>Day</th>
						<th>First Train</th>
						<th>Last Train</th>
						</tr>
					</thead>
					<tbody>
						<tr>
						<td>Monday - Thursday</td>
						<td>05:06</td>
						<td>23:26</td>
						</tr>
						<tr class="active-row">
						<td>Friday</td>
						<td>05:06</td>
						<td>23:26</td>
						</tr>
						<tr>
						<td>Saturday</td>
						<td>05:06</td>
						<td>23:26</td>
						</tr>
						<tr class="active-row">
						<td>Sunday</td>
						<td>05:25</td>
						<td>23:26</td>
						</tr>
						<tr>
						<td>Public Holidays</td>
						<td>05:25</td>
						<td>23:26</td>
						</tr>
						</tbody>
		
					
					</table>
				</table>
			</div>
			<div id="Bartley" class="data">
				<div class = "heading"><h1>Bartley</h1></div>
				<div class = "heading">
					<p>towards NE1 CC29 HarbourFront</p>
				</div>
				<table class="content-table">
					<thead>
						  <tr>
						<th>Day</th>
						<th>First Train</th>
						<th>Last Train</th>
						  </tr>
					</thead>
					<tbody>
						<tr>
						<td>Monday - Thursday</td>
						<td>05:16</td>
						<td>23:10</td>
						</tr>
						<tr class="active-row">
						<td>Friday</td>
						<td>05:16</td>
						<td>23:10</td>
						</tr>
						<tr>
						<td>Saturday</td>
						<td>05:16</td>
						<td>23:10</td>
						</tr>
						<tr class="active-row">
						<td>Sunday</td>
						<td>05:40</td>
						<td>23:10</td>
						</tr>
						<tr>
						<td>Public Holidays</td>
						<td>05:40</td>
						<td>23:10</td>
						</tr>
						</tbody>
		
					</table>
					
				  <div class = "heading">
					<p>towards CC26 Pasir Panjang</p>
				  </div>
				  <table class="content-table">
					<thead>
						<tr>
						<th>Day</th>
						<th>First Train</th>
						<th>Last Train</th>
						</tr>
					</thead>
					<tbody>
						<tr>
						<td>Monday - Thursday</td>
						<td>-</td>
						<td>23:41</td>
						</tr>
						<tr class="active-row">
						<td>Friday</td>
						<td>-</td>
						<td>23:41</td>
						</tr>
						<tr>
						<td>Saturday</td>
						<td>-</td>
						<td>23:41</td>
						</tr>
						<tr class="active-row">
						<td>Sunday</td>
						<td>-</td>
						<td>23:41</td>
						</tr>
						<tr>
						<td>Public Holidays</td>
						<td>-</td>
						<td>23:41</td>
						</tr>
						</tbody>
					
					</table>
		
					<div class = "heading">
						<p>towards CC23 One North</p>
					</div>
					<table class="content-table">
						<thead>
							<tbody>
							   <tbody>
		<tr>
		<td>Monday - Thursday</td>
		<td>-</td>
		<td>23:57</td>
		</tr>
		<tr class="active-row">
		<td>Friday</td>
		<td>-</td>
		<td>23:57</td>
		</tr>
		<tr>
		<td>Saturday</td>
		<td>-</td>
		<td>23:57</td>
		</tr>
		<tr class="active-row">
		<td>Sunday</td>
		<td>-</td>
		<td>23:57</td>
		</tr>
		<tr>
		<td>Public Holidays</td>
		<td>-</td>
		<td>23:57</td>
		</tr>
		</tbody>
		
		
				</table>
				
				<div class = "heading">
					<p>owards CC17 Caldecott</p>
				</div>
				<table class="content-table">
					<thead>
						<tr>
						<th>Day</th>
						<th>First Train</th>
						<th>Last Train</th>
						</tr>
					</thead>
					<tbody>
						<tr>
						<td>Monday - Thursday</td>
						<td>-</td>
						<td>00:24</td>
						</tr>
						<tr class="active-row">
						<td>Friday</td>
						<td>-</td>
						<td>00:24</td>
						</tr>
						<tr>
						<td>Saturday</td>
						<td>-</td>
						<td>00:24</td>
						</tr>
						<tr class="active-row">
						<td>Sunday</td>
						<td>-</td>
						<td>00:24</td>
						</tr>
						<tr>
						<td>Public Holidays</td>
						<td>-</td>
						<td>00:24</td>
						</tr>
						</tbody>
		
				</table>
		
				<div class = "heading">
					<p>towards NS24 NE6 CC1 Dhoby Ghaut</p>
				</div>
				<table class="content-table">
					<thead>
						<tr>
						<th>Day</th>
						<th>First Train</th>
						<th>Last Train</th>
						</tr>
					</thead>
					<tbody>
						<tr>
						<td>Monday - Thursday</td>
						<td>05:47</td>
						<td>23:42</td>
						</tr>
						<tr class="active-row">
						<td>Friday</td>
						<td>05:47</td>
						<td>23:42</td>
						</tr>
						<tr>
						<td>Saturday</td>
						<td>05:47</td>
						<td>23:42</td>
						</tr>
						<tr class="active-row">
						<td>Sunday</td>
						<td>06:14</td>
						<td>23:42</td>
						</tr>
						<tr>
						<td>Public Holidays</td>
						<td>06:14</td>
						<td>23:42</td>
						</tr>
						</tbody>
					
				</table>
				<div class = "heading">
					<p>towards CC7 Mountbatten</p>
				</div>
				<table class="content-table">
					<thead>
						<tr>
						<th>Day</th>
						<th>First Train</th>
						<th>Last Train</th>
						</tr>
					</thead>
					<tbody>
						<tr>
						<td>Monday - Thursday</td>
						<td>-</td>
						<td>00:19</td>
						</tr>
						<tr class="active-row">
						<td>Friday</td>
						<td>-</td>
						<td>00:19</td>
						</tr>
						<tr>
						<td>Saturday</td>
						<td>-</td>
						<td>00:19</td>
						</tr>
						<tr class="active-row">
						<td>Sunday</td>
						<td>-</td>
						<td>00:19</td>
						</tr>
						<tr>
						<td>Public Holidays</td>
						<td>-</td>
						<td>00:19</td>
						</tr>
						</tbody>
					
				</table>
			</div>
			<div id="Bayfront" class="data">
				<div class = "heading"><h1>Bayfront</h1></div>
				<div class = "heading">
					<p>towards CC6 Stadium</p>
				</div>
				<table class="content-table">
					<thead>
						  <tr>
						<th>Day</th>
						<th>First Train</th>
						<th>Last Train</th>
						  </tr>
					</thead>
					<tbody>
						<tr>
						<td>Monday - Thursday</td>
						<td>06:02</td>
						<td>23:57</td>
						</tr>
						<tr class="active-row">
						<td>Friday</td>
						<td>06:02</td>
						<td>23:57</td>
						</tr>
						<tr>
						<td>Saturday</td>
						<td>06:02</td>
						<td>23:57</td>
						</tr>
						<tr class="active-row">
						<td>Sunday</td>
						<td>06:26</td>
						<td>23:57</td>
						</tr>
						<tr>
						<td>Public Holidays</td>
						<td>06:26</td>
						<td>23:57</td>
						</tr>
						</tbody>
		
					</table>
					
				  <div class = "heading">
					<p>towards NS27 CE2 Marina Bay</p>
				  </div>
				  <table class="content-table">
					<thead>
						<tr>
						<th>Day</th>
						<th>First Train</th>
						<th>Last Train</th>
						</tr>
					</thead>
					<tbody>
						<tr>
						<td>Monday - Thursday</td>
						<td>06:17</td>
						<td>23:51</td>
						</tr>
						<tr class="active-row">
						<td>Friday</td>
						<td>06:17</td>
						<td>23:51</td>
						</tr>
						<tr>
						<td>Saturday</td>
						<td>06:17</td>
						<td>23:51</td>
						</tr>
						<tr class="active-row">
						<td>Sunday</td>
						<td>06:37</td>
						<td>23:51</td>
						</tr>
						<tr>
						<td>Public Holidays</td>
						<td>06:37</td>
						<td>23:51</td>
						</tr>
						</tbody>
					
					</table>	
				</table>
			</div>
			<div id="Bedok" class="data">
				<div class = "heading"><h1>Bedok</h1></div>
				<div class = "heading">
					<p>First/Last Train service terminating at EW33 Tuas Link</p>
				</div>
				<table class="content-table">
					<thead>
						  <tr>
						<th>Day</th>
						<th>First Train</th>
						<th>Last Train</th>
						  </tr>
					</thead>
					<tbody>
						<tr>
						<td>Monday - Thursday</td>
						<td>05:40</td>
						<td>23:36</td>
						</tr>
						<tr class="active-row">
						<td>Friday</td>
						<td>05:40</td>
						<td>23:36</td>
						</tr>
						<tr>
						<td>Saturday</td>
						<td>05:40</td>
						<td>23:36</td>
						</tr>
						<tr class="active-row">
						<td>Sunday</td>
						<td>06:06</td>
						<td>23:36</td>
						</tr>
						<tr>
						<td>Public Holidays</td>
						<td>06:06</td>
						<td>23:36</td>
						</tr>
						</tbody>
		
					</table>
					
				  <div class = "heading">
					<p>First/Last Train service terminating at EW1 Pasir Ris</p>
				  </div>
				  <table class="content-table">
					<thead>
						<tr>
						<th>Day</th>
						<th>First Train</th>
						<th>Last Train</th>
						</tr>
					</thead>
					<tbody>
						<tr>
						<td>Monday - Thursday</td>
						<td>06:19</td>
						<td>00:30</td>
						</tr>
						<tr class="active-row">
						<td>Friday</td>
						<td>06:19</td>
						<td>00:30</td>
						</tr>
						<tr>
						<td>Saturday</td>
						<td>06:19</td>
						<td>00:30</td>
						</tr>
						<tr class="active-row">
						<td>Sunday</td>
						<td>06:47</td>
						<td>00:30</td>
						</tr>
						<tr>
						<td>Public Holidays</td>
						<td>06:47</td>
						<td>00:30</td>
						</tr>
						</tbody>
					
					</table>
		
					<div class = "heading">
						<p>Towards CG2 Changi Airport</p>
					</div>
					<table class="content-table">
						<thead>
							<tr>
							<th>Day</th>
							<th>First Train</th>
							<th>Last Train</th>
							</tr>
						</thead>
						<tbody>
							<tr>
							<td>Monday - Thursday</td>
							<td>06:19</td>
							<td>23:46</td>
							</tr>
							<tr class="active-row">
							<td>Friday</td>
							<td>06:19</td>
							<td>23:46</td>
							</tr>
							<tr>
							<td>Saturday</td>
							<td>06:19</td>
							<td>23:46</td>
							</tr>
							<tr class="active-row">
							<td>Sunday</td>
							<td>06:47</td>
							<td>23:46</td>
							</tr>
							<tr>
							<td>Public Holidays</td>
							<td>06:47</td>
							<td>23:46</td>
							</tr>
						</tbody>
		
				</table>
				</table>
			</div>
			<div id="Bishan" class="data">
				<div class = "heading"><h1>Bishan</h1></div>
				<div class = "heading">
					<p>First/Last Train service terminating at NS1 EW24 Jurong East</p>
				</div>
				<table class="content-table">
					<thead>
						  <tr>
						<th>Day</th>
						<th>First Train</th>
						<th>Last Train</th>
						  </tr>
					</thead>
					<tbody>
						<tr>
						<td>Monday - Thursday</td>
						<td>06:08</td>
						<td>00:14</td>
						</tr>
						<tr class="active-row">
						<td>Friday</td>
						<td>06:08</td>
						<td>00:14</td>
						</tr>
						<tr>
						<td>Saturday</td>
						<td>06:23</td>
						<td>00:14</td>
						</tr>
						<tr class="active-row">
						<td>Sunday</td>
						<td>06:29</td>
						<td>00:14</td>
						</tr>
						<tr>
						<td>Public Holidays</td>
						<td>06:29</td>
						<td>00:14</td>
						</tr>
						</tbody>
		
					</table>
					
				  <div class = "heading">
					<p>Last Train service terminating at NS7 Kranji</p>
				  </div>
				  <table class="content-table">
					<thead>
						<tr>
						<th>Day</th>
						<th>First Train</th>
						<th>Last Train</th>
						</tr>
					</thead>
					<tbody>
						<tr>
						<td>Monday - Thursday</td>
						<td>-</td>
						<td>00:30</td>
						</tr>
						<tr class="active-row">
						<td>Friday</td>
						<td>-</td>
						<td>00:30</td>
						</tr>
						<tr>
						<td>Saturday</td>
						<td>-</td>
						<td>00:30</td>
						</tr>
						<tr class="active-row">
						<td>Sunday</td>
						<td>-</td>
						<td>00:30</td>
						</tr>
						<tr>
						<td>Public Holidays</td>
						<td>-</td>
						<td>00:30</td>
						</tr>
						</tbody>
					
					</table>
		
					<div class = "heading">
						<p>Last Train service terminating at NS19 Toa Payoh</p>
					</div>
					<table class="content-table">
						<thead>
							<tr>
							<th>Day</th>
							<th>First Train</th>
							<th>Last Train</th>
							</tr>
						</thead>
						<tbody>
							<tr>
							<td>Monday - Thursday</td>
							<td>-</td>
							<td>00:16</td>
							</tr>
							<tr class="active-row">
							<td>Friday</td>
							<td>-</td>
							<td>00:16</td>
							</tr>
							<tr>
							<td>Saturday</td>
							<td>-</td>
							<td>00:16</td>
							</tr>
							<tr class="active-row">
							<td>Sunday</td>
							<td>-</td>
							<td>00:16</td>
							</tr>
							<tr>
							<td>Public Holidays</td>
							<td>-</td>
							<td>00:16</td>
							</tr>
							</tbody>
		
				</table>
				
				<div class = "heading">
					<p>First/Last Train service terminating at CC1 Dhoby Ghaut</p>
				</div>
				<table class="content-table">
					<thead>
						<tr>
						<th>Day</th>
						<th>First Train</th>
						<th>Last Train</th>
						</tr>
					</thead>
					<tbody>
						<tr>
						<td>Monday - Thursday</td>
						<td>05:40</td>
						<td>23:35</td>
						</tr>
						<tr class="active-row">
						<td>Friday</td>
						<td>05:40</td>
						<td>23:35</td>
						</tr>
						<tr>
						<td>Saturday</td>
						<td>05:40</td>
						<td>23:35</td>
						</tr>
						<tr class="active-row">
						<td>Sunday</td>
						<td>06:07</td>
						<td>23:35</td>
						</tr>
						<tr>
						<td>Public Holidays</td>
						<td>06:07</td>
						<td>23:35</td>
						</tr>
						</tbody>
		
				</table>
		
				<div class = "heading">
					<p>Last Train service terminating at CC7 Mountbatten</p>
				</div>
				<table class="content-table">
					<thead>
						<tr>
						<th>Day</th>
						<th>First Train</th>
						<th>Last Train</th>
						</tr>
					</thead>
					<tbody>
						<tr>
						<td>Monday - Thursday</td>
						<td>-</td>
						<td>00:12</td>
						</tr>
						<tr class="active-row">
						<td>Friday</td>
						<td>-</td>
						<td>00:12</td>
						</tr>
						<tr>
						<td>Saturday</td>
						<td>-</td>
						<td>00:12</td>
						</tr>
						<tr class="active-row">
						<td>Sunday</td>
						<td>-</td>
						<td>00:12</td>
						</tr>
						<tr>
						<td>Public Holidays</td>
						<td>-</td>
						<td>00:12</td>
						</tr>
						</tbody>
						</table>
					
				</table>
			</div>
			<div id="BoonLay" class="data">
				<div class = "heading"><h1>Boon Lay</h1></div>
				<div class = "heading">
					<p>First/Last Train service terminating at EW33 Tuas Link</p>
				</div>
				<table class="content-table">
					<thead>
						  <tr>
						<th>Day</th>
						<th>First Train</th>
						<th>Last Train</th>
						  </tr>
					</thead>
					<tbody>
						<tr>
						<td>Monday - Thursday</td>
						<td>05:21</td>
						<td>00:32</td>
						</tr>
						<tr class="active-row">
						<td>Friday</td>
						<td>05:21</td>
						<td>00:32</td>
						</tr>
						<tr>
						<td>Saturday</td>
						<td>05:21</td>
						<td>00:32</td>
						</tr>
						<tr class="active-row">
						<td>Sunday</td>
						<td>05:51</td>
						<td>00:32</td>
						</tr>
						<tr>
						<td>Public Holidays</td>
						<td>05:51</td>
						<td>00:32</td>
						</tr>
						</tbody>
		
					</table>
					
				  <div class = "heading">
					<p>First/Last Train service terminating at EW1 Pasir Ris</p>
				  </div>
				  <table class="content-table">
					<thead>
						<tr>
						<th>Day</th>
						<th>First Train</th>
						<th>Last Train</th>
						</tr>
					</thead>
					<tbody>
						<tr>
						<td>Monday - Thursday</td>
						<td>05:34</td>
						<td>23:34</td>
						</tr>
						<tr class="active-row">
						<td>Friday</td>
						<td>05:34</td>
						<td>23:34</td>
						</tr>
						<tr>
						<td>Saturday</td>
						<td>05:34</td>
						<td>23:34</td>
						</tr>
						<tr class="active-row">
						<td>Sunday</td>
						<td>06:04</td>
						<td>23:34</td>
						</tr>
						<tr>
						<td>Public Holidays</td>
						<td>06:04</td>
						<td>23:34</td>
						</tr>
						</tbody>
					
					</table>
		
					<div class = "heading">
						<p>Towards CG2 Changi Airport</p>
					</div>
					<table class="content-table">
						<thead>
							<tr>
							<th>Day</th>
							<th>First Train</th>
							<th>Last Train</th>
							</tr>
						</thead>
						<tbody>
							<tr>
							<td>Monday - Thursday</td>
							<td>05:34</td>
							<td>22:49</td>
							</tr>
							<tr class="active-row">
							<td>Friday</td>
							<td>05:34</td>
							<td>22:49</td>
							</tr>
							<tr>
							<td>Saturday</td>
							<td>05:34</td>
							<td>22:49</td>
							</tr>
							<tr class="active-row">
							<td>Sunday</td>
							<td>06:04</td>
							<td>22:49</td>
							</tr>
							<tr>
							<td>Public Holidays</td>
							<td>06:04</td>
							<td>22:49</td>
							</tr>
							</tbody>
		
				</table>
				</table>
			</div>
			<div id="BotanicGardens" class="data">
				<div class = "heading"><h1>Botanic Gardens</h1></div>
				<div class = "heading">
					<p>First/Last Train service terminating at NE1 CC29 HarbourFront</p>
				</div>
				<table class="content-table">
					<thead>
						  <tr>
						<th>Day</th>
						<th>First Train</th>
						<th>Last Train</th>
						  </tr>
					</thead>
					<tbody>
						<tr>
						<td>Monday - Thursday</td>
						<td>05:32</td>
						<td>23:27</td>
						</tr>
						<tr class="active-row">
						<td>Friday</td>
						<td>05:32</td>
						<td>23:27</td>
						</tr>
						<tr>
						<td>Saturday</td>
						<td>05:32</td>
						<td>23:27</td>
						</tr>
						<tr class="active-row">
						<td>Sunday</td>
						<td>05:57</td>
						<td>23:27</td>
						</tr>
						<tr>
						<td>Public Holidays</td>
						<td>05:57</td>
						<td>23:27</td>
						</tr>
						</tbody>
		
					</table>
					
				  <div class = "heading">
					<p>Last Train service terminating at CC26 Pasir Panjang</p>
				  </div>
				  <table class="content-table">
					<thead>
						<tr>
						<th>Day</th>
						<th>First Train</th>
						<th>Last Train</th>
						</tr>
					</thead>
					<tbody>
						<tr>
						<td>Monday - Thursday</td>
						<td>-</td>
						<td>23:57</td>
						</tr>
						<tr class="active-row">
						<td>Friday</td>
						<td>-</td>
						<td>23:57</td>
						</tr>
						<tr>
						<td>Saturday</td>
						<td>-</td>
						<td>23:57</td>
						</tr>
						<tr class="active-row">
						<td>Sunday</td>
						<td>-</td>
						<td>23:57</td>
						</tr>
						<tr>
						<td>Public Holidays</td>
						<td>-</td>
						<td>23:57</td>
						</tr>
						</tbody>
					
					</table>
		
					<div class = "heading">
						<p>Last Train service terminating at CC23 One North</p>
					</div>
					<table class="content-table">
						<thead>
							<tr>
							<th>Day</th>
							<th>First Train</th>
							<th>Last Train</th>
							</tr>
						</thead>
						<tbody>
							<tr>
							<td>Monday - Thursday</td>
							<td>-</td>
							<td>00:13</td>
							</tr>
							<tr class="active-row">
							<td>Friday</td>
							<td>-</td>
							<td>00:13</td>
							</tr>
							<tr>
							<td>Saturday</td>
							<td>-</td>
							<td>00:13</td>
							</tr>
							<tr class="active-row">
							<td>Sunday</td>
							<td>-</td>
							<td>00:13</td>
							</tr>
							<tr>
							<td>Public Holidays</td>
							<td>-</td>
							<td>00:13</td>
							</tr>
							</tbody>
		
				</table>
				
				<div class = "heading">
					<p>First/Last Train service terminating at NS24 NE6 CC1 Dhoby Ghaut</p>
				</div>
				<table class="content-table">
					<thead>
						<tr>
						<th>Day</th>
						<th>First Train</th>
						<th>Last Train</th>
						</tr>
					</thead>
					<tbody>
						<tr>
						<td>Monday - Thursday</td>
						<td>05:45</td>
						<td>23:25</td>
						</tr>
						<tr class="active-row">
						<td>Friday</td>
						<td>05:45</td>
						<td>23:25</td>
						</tr>
						<tr>
						<td>Saturday</td>
						<td>05:45</td>
						<td>23:25</td>
						</tr>
						<tr class="active-row">
						<td>Sunday</td>
						<td>06:06</td>
						<td>23:25</td>
						</tr>
						<tr>
						<td>Public Holidays</td>
						<td>06:06</td>
						<td>23:25</td>
						</tr>
						</tbody>
		
				</table>
		
				<div class = "heading">
					<p>Last Train service terminating at CC7 Mountbatten</p>
				</div>
				<table class="content-table">
					<thead>
						<tr>
						<th>Day</th>
						<th>First Train</th>
						<th>Last Train</th>
						</tr>
					</thead>
					<tbody>
						<tr>
						<td>Monday - Thursday</td>
						<td>-</td>
						<td>00:02</td>
						</tr>
						<tr class="active-row">
						<td>Friday</td>
						<td>-</td>
						<td>00:02</td>
						</tr>
						<tr>
						<td>Saturday</td>
						<td>-</td>
						<td>00:02</td>
						</tr>
						<tr class="active-row">
						<td>Sunday</td>
						<td>-</td>
						<td>00:02</td>
						</tr>
						<tr>
						<td>Public Holidays</td>
						<td>-</td>
						<td>00:02</td>
						</tr>
						</tbody>
					
				</table>
			</div>
			<div id="Braddell" class="data">
				<div class = "heading"><h1>Braddell</h1></div>
				<div class = "heading">
					<p>First/Last Train service terminating at NS1 EW24 Jurong East</p>
				</div>
				<table class="content-table">
					<thead>
						  <tr>
						<th>Day</th>
						<th>First Train</th>
						<th>Last Train</th>
						  </tr>
					</thead>
					<tbody>
						<tr>
						<td>Monday - Thursday</td>
						<td>06:06</td>
						<td>00:12</td>
						</tr>
						<tr class="active-row">
						<td>Friday</td>
						<td>06:06</td>
						<td>00:12</td>
						</tr>
						<tr>
						<td>Saturday</td>
						<td>06:21</td>
						<td>00:12</td>
						</tr>
						<tr class="active-row">
						<td>Sunday</td>
						<td>06:27</td>
						<td>00:12</td>
						</tr>
						<tr>
						<td>Public Holidays</td>
						<td>06:27</td>
						<td>00:12</td>
						</tr>
						</tbody>
		
					</table>
					
				  <div class = "heading">
					<p>Last Train service terminating at NS7 Kranji</p>
				  </div>
				  <table class="content-table">
					<thead>
						<tr>
						<th>Day</th>
						<th>First Train</th>
						<th>Last Train</th>
						</tr>
					</thead>
					<tbody>
						<tr>
						<td>Monday - Thursday</td>
						<td>-</td>
						<td>00:27</td>
						</tr>
						<tr class="active-row">
						<td>Friday</td>
						<td>-</td>
						<td>00:27</td>
						</tr>
						<tr>
						<td>Saturday</td>
						<td>-</td>
						<td>00:27</td>
						</tr>
						<tr class="active-row">
						<td>Sunday</td>
						<td>-</td>
						<td>00:27</td>
						</tr>
						<tr>
						<td>Public Holidays</td>
						<td>-</td>
						<td>00:27</td>
						</tr>
						</tbody>
					
					</table>
		
					<div class = "heading">
						<p>Last Train service terminating at NS19 Toa Payoh</p>
					</div>
					<table class="content-table">
						<thead>
							<tr>
							<th>Day</th>
							<th>First Train</th>
							<th>Last Train</th>
							</tr>
						</thead>
						<tbody>
							<tr>
							<td>Monday - Thursday</td>
							<td>-</td>
							<td>00:18</td>
							</tr>
							<tr class="active-row">
							<td>Friday</td>
							<td>-</td>
							<td>00:18</td>
							</tr>
							<tr>
							<td>Saturday</td>
							<td>-</td>
							<td>00:18</td>
							</tr>
							<tr class="active-row">
							<td>Sunday</td>
							<td>-</td>
							<td>00:18</td>
							</tr>
							<tr>
							<td>Public Holidays</td>
							<td>-</td>
							<td>00:18</td>
							</tr>
							</tbody>
		
				</table>
				
				<div class = "heading">
					<p>First/Last Train service terminating at NS28 Marina South Pier</p>
				</div>
				<table class="content-table">
					<thead>
						<tr>
						<th>Day</th>
						<th>First Train</th>
						<th>Last Train</th>
						</tr>
					</thead>
					<tbody>
						<tr>
						<td>Monday - Thursday</td>
						<td>05:39</td>
						<td>23:36</td>
						</tr>
						<tr class="active-row">
						<td>Friday</td>
						<td>05:39</td>
						<td>23:36</td>
						</tr>
						<tr>
						<td>Saturday</td>
						<td>05:39</td>
						<td>23:36</td>
						</tr>
						<tr class="active-row">
						<td>Sunday</td>
						<td>06:04</td>
						<td>23:36</td>
						</tr>
						<tr>
						<td>Public Holidays</td>
						<td>06:04</td>
						<td>23:36</td>
						</tr>
						</tbody>
		
				</table>
					
				</table>
			</div>
			<div id="BrasBasah" class="data">
				<div class = "heading"><h1>Bras Basah</h1></div>
				<div class = "heading">
					<p>First/Last Train service terminating at NE1 CC29 HarbourFront</p>
				</div>
				<table class="content-table">
					<thead>
						  <tr>
						<th>Day</th>
						<th>First Train</th>
						<th>Last Train</th>
						  </tr>
					</thead>
					<tbody>
						<tr>
						<td>Monday - Thursday</td>
						<td>05:39</td>
						<td>22:50</td>
						</tr>
						<tr class="active-row">
						<td>Friday</td>
						<td>05:39</td>
						<td>22:50</td>
						</tr>
						<tr>
						<td>Saturday</td>
						<td>05:39</td>
						<td>22:50</td>
						</tr>
						<tr class="active-row">
						<td>Sunday</td>
						<td>06:06</td>
						<td>22:50</td>
						</tr>
						<tr>
						<td>Public Holidays</td>
						<td>06:06</td>
						<td>22:50</td>
						</tr>
						</tbody>
		
					</table>
					
				  <div class = "heading">
					<p>Last Train service terminating at CC26 Pasir Panjang</p>
				  </div>
				  <table class="content-table">
					<thead>
						<tr>
						<th>Day</th>
						<th>First Train</th>
						<th>Last Train</th>
						</tr>
					</thead>
					<tbody>
						<tr>
						<td>Monday - Thursday</td>
						<td>-</td>
						<td>23:20</td>
						</tr>
						<tr class="active-row">
						<td>Friday</td>
						<td>-</td>
						<td>23:20</td>
						</tr>
						<tr>
						<td>Saturday</td>
						<td>-</td>
						<td>23:20</td>
						</tr>
						<tr class="active-row">
						<td>Sunday</td>
						<td>-</td>
						<td>23:20</td>
						</tr>
						<tr>
						<td>Public Holidays</td>
						<td>-</td>
						<td>23:20</td>
						</tr>
						</tbody>
					
					</table>
		
					<div class = "heading">
						<p>Last Train service terminating at CC23 one-north</p>
					</div>
					<table class="content-table">
						<thead>
							<tr>
							<th>Day</th>
							<th>First Train</th>
							<th>Last Train</th>
							</tr>
						</thead>
						<tbody>
							<tr>
							<td>Monday - Thursday</td>
							<td>-</td>
							<td>23:36</td>
							</tr>
							<tr class="active-row">
							<td>Friday</td>
							<td>-</td>
							<td>23:36</td>
							</tr>
							<tr>
							<td>Saturday</td>
							<td>-</td>
							<td>23:36</td>
							</tr>
							<tr class="active-row">
							<td>Sunday</td>
							<td>-</td>
							<td>23:36</td>
							</tr>
							<tr>
							<td>Public Holidays</td>
							<td>-</td>
							<td>23:36</td>
							</tr>
							</tbody>
		
				</table>
				
				<div class = "heading">
					<p>towards NE1 CC17 Caldecott</p>
				</div>
				<table class="content-table">
					<thead>
						<tr>
						<th>Day</th>
						<th>First Train</th>
						<th>Last Train</th>
						</tr>
					</thead>
					<tbody>
						<tr>
						<td>Monday - Thursday</td>
						<td>-</td>
						<td>00:03</td>
						</tr>
						<tr class="active-row">
						<td>Friday</td>
						<td>-</td>
						<td>00:03</td>
						</tr>
						<tr>
						<td>Saturday</td>
						<td>-</td>
						<td>00:03</td>
						</tr>
						<tr class="active-row">
						<td>Sunday</td>
						<td>-</td>
						<td>00:03</td>
						</tr>
						<tr>
						<td>Public Holidays</td>
						<td>-</td>
						<td>00:03</td>
						</tr>
						</tbody>
		
				</table>
		
				<div class = "heading">
					<p>towards NE1 CC11 Tai Seng</p>
				</div>
				<table class="content-table">
					<thead>
						<tr>
						<th>Day</th>
						<th>First Train</th>
						<th>Last Train</th>
						</tr>
					</thead>
					<tbody>
						<tr>
						<td>Monday - Thursday</td>
						<td>-</td>
						<td>00:11</td>
						</tr>
						<tr class="active-row">
						<td>Friday</td>
						<td>-</td>
						<td>00:11</td>
						</tr>
						<tr>
						<td>Saturday</td>
						<td>-</td>
						<td>00:11</td>
						</tr>
						<tr class="active-row">
						<td>Sunday</td>
						<td>-</td>
						<td>00:11</td>
						</tr>
						<tr>
						<td>Public Holidays</td>
						<td>-</td>
						<td>00:11</td>
						</tr>
						</tbody>
					</table>
					<div class = "heading">
						<p>towards NS24 NE6 CC1 Dhoby Ghaut</p>
					</div>
					<table class="content-table">
						<thead>
							<tr>
							<th>Day</th>
							<th>First Train</th>
							<th>Last Train</th>
							</tr>
						</thead>
						<tbody>
							<tr>
							<td>Monday - Thursday</td>
							<td>05:54</td>
							<td>00:03</td>
							</tr>
							<tr class="active-row">
							<td>Friday</td>
							<td>05:54</td>
							<td>00:03</td>
							</tr>
							<tr>
							<td>Saturday</td>
							<td>05:54</td>
							<td>00:03</td>
							</tr>
							<tr class="active-row">
							<td>Sunday</td>
							<td>06:21</td>
							<td>00:03</td>
							</tr>
							<tr>
							<td>Public Holidays</td>
							<td>06:21</td>
							<td>00:03</td>
							</tr>
							</tbody>
							</table>
					
				</table>
			</div>
			<div id="BrightHill" class="data">
				<div class = "heading"><h1>Bright Hill</h1></div>
				<div class = "heading">
					<p>First/Last Train service terminating at TE1 Woodlands North</p>
				</div>
				<table class="content-table">
					<thead>
						  <tr>
						<th>Day</th>
						<th>First Train</th>
						<th>Last Train</th>
						  </tr>
					</thead>
					<tbody>
						<tr>
						<td>Monday - Thursday</td>
						<td>05:58</td>
						<td>23:40</td>
						</tr>
						<tr class="active-row">
						<td>Friday</td>
						<td>05:58</td>
						<td>23:40</td>
						</tr>
						<tr>
						<td>Saturday</td>
						<td>05:58</td>
						<td>23:40</td>
						</tr>
						<tr class="active-row">
						<td>Sunday</td>
						<td>05:58</td>
						<td>23:40</td>
						</tr>
						<tr>
						<td>Public Holidays</td>
						<td>05:58</td>
						<td>23:40</td>
						</tr>
						</tbody>
		
					</table>
					
				  <div class = "heading">
					<p>First/Last Train service terminating at TE9 Caldecott</p>
				  </div>
				  <table class="content-table">
					<thead>
						<tr>
						<th>Day</th>
						<th>First Train</th>
						<th>Last Train</th>
						</tr>
					</thead>
					<tbody>
						<tr>
						<td>Monday - Thursday</td>
						<td>05:54</td>
						<td>23:45</td>
						</tr>
						<tr class="active-row">
						<td>Friday</td>
						<td>05:54</td>
						<td>23:45</td>
						</tr>
						<tr>
						<td>Saturday</td>
						<td>05:54</td>
						<td>23:45</td>
						</tr>
						<tr class="active-row">
						<td>Sunday</td>
						<td>05:54</td>
						<td>23:45</td>
						</tr>
						<tr>
						<td>Public Holidays</td>
						<td>05:54</td>
						<td>23:45</td>
						</tr>
						</tbody>
					
					</table>
		
					<div class = "heading">
						<p>Last Train service terminating at NS19 Toa Payoh</p>
					</div>
					<table class="content-table">
						<thead>
							<tr>
							<th>Day</th>
							<th>First Train</th>
							<th>Last Train</th>
							</tr>
						</thead>
		
				</table>
				
				<div class = "heading">
					<p>Last Train service terminating at TE4 Springleaf</p>
				</div>
				<table class="content-table">
					<thead>
						<tr>
						<th>Day</th>
						<th>First Train</th>
						<th>Last Train</th>
						</tr>
					</thead>
					<tbody>
						<tr>
						<td>Monday - Thursday</td>
						<td>-</td>
						<td>23:48</td>
						</tr>
						<tr class="active-row">
						<td>Friday</td>
						<td>-</td>
						<td>23:48</td>
						</tr>
						<tr>
						<td>Saturday</td>
						<td>-</td>
						<td>23:48</td>
						</tr>
						<tr class="active-row">
						<td>Sunday</td>
						<td>-</td>
						<td>23:48</td>
						</tr>
						<tr>
						<td>Public Holidays</td>
						<td>-</td>
						<td>23:48</td>
						</tr>
						</tbody>
		
				</table>
					
				</table>
			</div>
			<div id="" class="data">

			</div>
			<div id="" class="data">

			</div>
			<div id="" class="data">

			</div>
			<div id="" class="data">

			</div>
			<div id="" class="data">

			</div>
			<div id="" class="data">

			</div>
			
		</div>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	 <script>
        $(document).ready(function() {
			$("#station").on('change',function(){
				$(".data").hide();
				$("#" + $(this).val()).fadeIn(700);
			}).change();
		});
	 </script>
	</body>
</html>